<%- include('partials/header.ejs'); -%>
    <header>
        <h1>Book Notes</h1>
        <p>Short thoughts on books that I have read.</p>
    </header>
    <div id="sorters">
        <a href="/">Show All Books</a>
        <!--Using query string here was a great idea. So simple-->

        <a href="/sort?sortMode=title">Sort by title</a>
        <a href="/sort?sortMode=date">Sort by most recent</a>
        <a href="/sort?sortMode=rating">Sort by highest rating</a>
    </div>


    <form id="search" action="/search" method="post">
        <input type="text" name="searchField" placeholder="Search by title or author" />
        <input id="searchBtn" class="search btn" type="submit"></button>
    </form>


    <form action="/addPage" method="post">
        <button class="add btn" type="submit">Add a Book</button>
    </form>

    <hr>
    <section id="books">
        <% for(let item of bookList){%>
            <div class="book-entry entryNum<%=item.id%>">

                <div id="title<%=item.id%>" class="title-bank title<%=item.id%>">
                    <h2 class="detail title<%=item.id%>">
                        <%= item.title %>
                    </h2>
                </div>

                <!--This is the book details display - visible by default-->
                <div id="details<%=item.id%>" class="details-bank">
                    <img class="book-cover" src="<%=item.cover%>" alt="book cover image" />
                    <h3 class="detail author">
                        <%= item.author %>
                    </h3>
                    <p class="detail isbn">
                        ISBN-13: <%= item.isbn %>
                    </p>
                    <p class="detail genre">
                        My Category: <%= item.genre %>
                    </p>
                    <p class="detail date">
                        Date: <%= item.date %>
                    </p>
                    <p class="detail rating">
                        My Rating:<strong>
                            <%=item.rating%>
                        </strong>/3
                    </p>
                </div>
                <div id="notes<%=item.id%>" class="notes-bank notes<%=item.id%>">
                    <p class="notes">
                        <%= item.notes %>
                    </p>
                </div>

                <div id="buttons<%=item.id%>" class="buttons-bank buttons<%=item.id%>">
                    <form action="/editPage" method="post">
                        <input type="hidden" name="updatedItemId" value="<%= item.id %>">
                        <input type="hidden" name="updatedTitle" value="<%= item.title %>">
                        <input type="hidden" name="updatedAuthor" value="<%= item.author %>">
                        <input type="hidden" name="updatedIsbn" value="<%= item.isbn %>">
                        <input type="hidden" name="updatedNotes" value="<%= item.notes %>">
                        <input type="hidden" name="updatedGenre" value="<%= item.genre %>">
                        <input type="hidden" name="updatedDate" value="<%= item.date %>">
                        <input type="hidden" name="updatedRating" value="<%= item.rating %>">

                        <button id="edit-button<%=item.id%>" class="edit btn" type="submit">Edit this entry</button>
                    </form>

                    <button id="delete-button<%=item.id%>" class="delete btn"
                        onclick="deleteHandler('<%=item.id%>')">Delete Entry</button>

                    <form id="delete-confirm<%=item.id%>" action="/delete" method="post" hidden="true">
                        <input type="hidden" name="deleteId" value="<%= item.id %>">
                        <button class="delete btn confirm" type="submit">Really
                            Delete?</button>
                    </form>
                </div>

            </div>
            <% } %>
    </section>

    <script>
        function deleteHandler(id) {
            document.getElementById("delete-button" + id).setAttribute("hidden", true)
            document.getElementById("delete-confirm" + id).removeAttribute("hidden")
        }

    </script>
    <%- include('partials/footer.ejs'); -%>